{ifset $labelText}
    {var $buttonText = $presenter->translator->translate("file.buttonTextLabel", ['labelText' => $presenter->translator->translate($labelText)])}
{else}
    {if \Salamek\Files\Models\IFile::TYPE_IMAGE == $filetype}
        {var $labelText = $presenter->translator->translate('file.selectImage')}
        {var $buttonText = $presenter->translator->translate('file.selectImageFromFileManager')}
    {else}
        {var $labelText = $presenter->translator->translate('file.selectFile')}
        {var $buttonText = $presenter->translator->translate('file.selectFileFromFileManager')}
    {/if}
{/ifset}

{ifset $selectorName}

{else}
    {var $selectorName = 'structureFile'}
{/ifset}

{ifset $id}

{else}
    {var $id = $form[$selectorName]->htmlId}
{/ifset}

{ifset $fileAccept}

{else}
    {if \Salamek\Files\Models\IFile::TYPE_IMAGE == $filetype}
        {var $fileAccept = 'image/*'}
    {elseif \Salamek\Files\Models\IFile::TYPE_TEXT == $filetype}
        {var $fileAccept = 'text/*'}
    {elseif \Salamek\Files\Models\IFile::TYPE_MEDIA == $filetype}
        {var $fileAccept = 'audio/*, video/*'}
    {else}
        {var $fileAccept = ''}
    {/if}
{/ifset}

<input type="hidden" class="wysiwyg-fileplugin" data-uri="{plink :Admin:File:File:ajaxFileManager}">
<div class="col-sm-12">
    <div class="form-group no-margin-hr">
        <label class="control-label" n:name="$selectorName">{$labelText}</label>
        <div class="file-manager-selector">
            <div class="input-group">
                <a href="#" data-link="{plink :Admin:File:File:ajaxFileManagerSelector}" class="btn btn-success file-manager-selector-button {ifset $uploadName}input-group-addon{/ifset}" data-filetype="{$filetype}" data-toggle="modal"
                   data-target="#fileManagerSelectorModal{$id}"><span class="fa fa-archive"></span> {$buttonText}
                </a>
                <label n:ifset="$uploadName" class="btn btn-default btn-file">
                    <span class="fa fa-upload"></span> {_"file.uploadFromComputer"} <input type="file" n:name="$uploadName" style="display: none;" accept="{$fileAccept}">
                </label>
            </div>
            <input type="number" n:name="$selectorName" class="form-control file-manager-selector-id">
            <div class="filemanager">
                <ul class="files file-manager-selector-file" data-link="{plink :Admin:File:File:ajaxFileUploadUpdate}">
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-sm-12 -->
<div class="modal fade" id="fileManagerSelectorModal{$id}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
