{if \Salamek\Files\Models\IFile::TYPE_IMAGE == $filetype}
    {var $labelText = 'Select image'}
    {var $buttonText = 'Select image from file manager'}
{else}
    {var $labelText = 'Select file'}
    {var $buttonText = 'Select file from file manager'}
{/if}

{ifset $selectorName}

{else}
    {var $selectorName = 'structureFile'}
{/ifset}
<input type="hidden" class="wysiwyg-fileplugin" data-uri="{plink :Admin:File:File:ajaxFileManager}">
<div class="col-sm-12">
    <div class="form-group no-margin-hr">
        <label class="control-label" n:name="structureFile">{_$labelText}</label>
        <div class="file-manager-selector">
            <div class="input-group">
                <a href="#" data-link="{plink :Admin:File:File:ajaxFileManagerSelector}" class="btn btn-success file-manager-selector-button {ifset $uploadName}input-group-addon{/ifset}" data-filetype="{$filetype}" data-toggle="modal"
                   data-target="#fileManagerSelectorModal{$form['structureFile']->htmlId}"><span class="fa fa-archive"></span> {_$buttonText}
                </a>
                <label n:ifset="$uploadName" class="btn btn-default btn-file">
                    <span class="fa fa-upload"></span> {_"Upload from computer"} <input type="file" n:name="$uploadName" style="display: none;">
                </label>
            </div>
            <input type="number" n:name="$selectorName" class="form-control file-manager-selector-id">
            <div class="filemanager">
                <ul class="files file-manager-selector-file" data-link="{plink :Admin:File:File:ajaxFileUploadUpdate}">
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-sm-12 -->
<div class="modal fade" id="fileManagerSelectorModal{$form['structureFile']->htmlId}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-llg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
