- Dravencms\File\Console\DeleteOrphanedFilesCommand
- Dravencms\File\Console\DeleteUnusedFilesCommand
- Dravencms\File\Console\DeleteUnusedFilesByForgeinKeyUsageCommand
- Dravencms\File\Console\MigrateToSegmentedDataDirCommand