- Dravencms\File\Console\DeleteOrphanedFilesCommand
- Dravencms\File\Console\FixExtensionsCommand
- Dravencms\File\Console\DeleteUnusedFilesCommand
- Dravencms\File\Console\DeleteUnusedFilesByForgeinKeyUsageCommand