buttonTextLabel: '%labelText% ze správce souborů'
selectImage: 'Vybrat obrázek'
selectImageFromFileManager: 'Vybrat obrázek ze správce souborů'
selectFile: 'Vybrat soubor'
selectFileFromFileManager: 'Vybrat soubor ze správce souborů'
uploadFromComputer: 'Nahrát z počítače'
close: "Zavřít"
renameFolderNameTo: 'Přejmenovat složku "%name%" na...'
newFolder: 'Nová složka'
newFolderName: 'Název nové složky'
rename: 'Přejmenovat'
create: 'Vytvořit'
pleaseEnterName: 'Zadejte prosím jméno.'
nameIsTooLong: 'Jméno je příliš dlouhé, %d znaků je povoleno.'
thisNameIsAlreadyUsed: 'Tento název je již zabrán.'
youHaveNoPermissionToEditThisFile': Nemáte oprávění upravovat tento soubor.'
changeFileNameTo: 'Změnit soubor %name% na...'
newFileName: 'Nový název souboru'
file: 'Soubor'
newFile: 'Nový soubor'
change: 'Změnit'
dropFilesHereToUpload: 'Sem přetáhněte soubory, které chcete nahrát'
pleaseEnterFileToUpload: 'Zadejte soubor k nahrání.'
uploadOfFileFailed: 'Nahrání souboru se nezdařilo.'
fileManager: 'Správce souborů'
fileManagerSelector: 'Správce souborů - výběrník'
fileHasBeenSucessfullyDeleted: 'Soubor byl úspěšně smazán.'
folderHasBeenSucessfullyDeleted: 'Složka byla úspěšně smazána.'
folderWasNotDeletedSomeFilesInsideAreUsedByOtherSystemComponents: 'Složka nebyla smazána, některé soubory uvnitř jsou používány jinými součástmi systému.'
folderHasBeenSaved: 'Složka byla uložena.'
fileHasBeenSaved: 'Soubor byl uložen.'
detailsOfFileName: 'Detaily souboru "%name%"'
fileName: 'Název souboru'
type: 'Typ'
size: 'Velikost'
md5sum: 'MD5 Součet'
createdAt: 'Vytvořeno v'
updatedAt: 'Upraveno v'
back: 'Zpět'
info: 'Info'
download: 'Stáhnout'
delete: 'Smazat'
preview: 'Náhled'
areYouSureYouWantTodeleteThisFile: 'Jste si jisti že chcete smazat tento soubor?'
areYouSureYouWantTodeleteThisFolder: 'Jste si jisti že chcete smazat tuto složku?'
detailsOfFolderName': Detaily složky "%name%"'
folderName: 'Název složky'
numberOfFilesInFolder: 'Počet souborů ve složce'
numberOfFoldersInFolder: 'Počet složek ve složce'